<!-- app/components/footer.component.html -->

<div class="bg-black text-white p-6">
    <div class="flex flex-col md:flex-row justify-between">
      <!-- First Column -->
      <div class="mb-4 md:mb-0">
        <h2 class="text-lg ">NAROK COUNTY GOVERNMENT</h2>
        <p class="text-2xl font-bold mb-2 md-10">E-Services Portal</p>
        <p class="text-xs mt-1 whitespace-normal">Make Payments Easily and Quickly.</p>
        <p class="text-xs whitespace-normal">Create an account and get to enjoy</p>
        <p class="text-xs whitespace-normal">Paying for Narock County Services Online.</p>
      </div>
  
      <!-- Second Column -->
      <div class="flex flex-col items-center">
        <p class="font-bold text-lg mb-2">Quick Links</p> <!-- Increased text size -->
        <ul class="flex flex-col space-y-2 list-disc pl-4"> <!-- Added list-disc and pl-4 for indentation -->
          <li><a href="#" class="hover:underline">FAQs</a></li>
          <li><a href="#" class="hover:underline">My Account</a></li>
          <li><a href="register" class="hover:underline">Login/Register</a></li>
          <li><a href="#" class="hover:underline">Contact Us</a></li>
          <!-- Add more links as needed -->
        </ul>
      </div>
  
      <!-- Column 3: Details for the support center -->
      <div class="md:w-1/3"> <!-- Updated to use flex-col -->
        <p class="font-bold text-lg mb-2">Support Center</p> <!-- Increased text size -->
        <div class="flex flex-col space-y-2 list-none pl-4"> <!-- Use a div instead of ul -->
          <li>Have any Questions?</li>
          <li>Contact us on:</li>
          <li><strong>Telephone:</strong>0452123000 / 0758721986</li>
          <li><strong>Email:</strong>info&commat;kajiado.go.ke</li> <!-- Replace "@" with HTML entity -->
        </div>
      </div>
    </div>
  </div>
  