<!-- app/three-column-info/three-column-info.component.html -->

<div class="bg-white p-8">
    <div>
        <p class="text-lg font-medium mt-10 text-center p-2 gap-8">The single point of access for all Narok County services</p>
        <div class="grid grid-cols-3 gap-8 ml-60 p-4">
            <!-- Column 1 -->
            <div>
              <img src="assets/padlock.svg" alt="Image 1" class="mb-4 w-20 h-20">
              <h2 class="text-xl font-bold mb-4 text-wrap w-80">A single login grants access to all services in Narok County.
                </h2>
              <p class="text-wrap w-60">A account suffices. Any Kenyan rcan register using their ID number.</p>
            </div>
        
            <!-- Column 2 -->
            <div>
              <img src="assets/profile.svg" alt="Image 2" class="mb-4 w-20 h-20">
              <h2 class="text-xl font-bold mb-4">One integrated  profile.
              </h2>
              <p>Your information from various government sources will be readily available via your profile.</p>
            </div>
        
            <!-- Column 3 -->
            <div>
              <img src="assets/alarm.svg" alt="Image 3" class="mb-4 w-20 h-20">
              <h2 class="text-xl font-bold mb-4">Access to services made easy</h2>
              <p>You can access the portal from anywhere, anytime, for browsing, applying, making online payments, tracking progress, and accessing downloads.</p>
            </div>
          </div>
    </div>
  </div>
  