<div class="container mx-auto my-16">
    <p class="text-2xl font-black mt-0 mb-5 text-center">Services</p>
    <div class="container mx-auto p-8">
        <div class="grid grid-cols-4 gap-5 p-10">
          <!-- First Row -->
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/R.c93f4ed26c7c511c152c3cd5b38ac363?rik=frnAmpVSLKK2bA&pid=ImgRaw&r=0" alt="" class="w-40 h-40 ml-20 bg-slate-50">
            <h3 class="p-3 text-xl font-bold">Parking Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full ml-5 mb-10">Apply</button>
          </div>
      
          <!-- Repeat the structure for the next three boxes in the first row -->
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://cdn-icons-png.flaticon.com/512/1728/1728431.png" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Business Licensing</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full  ml-5 mb-10">Apply</button>
          </div>
      
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/R.24a40d5e3de161932628d764e3d3a560?rik=vFjIDuJowWsLvQ&pid=ImgRaw&r=0&sres=1&sresct=1" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Land Rate Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full  ml-5 mb-10">Apply</button>
          </div>
      
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://cdn-icons-png.flaticon.com/512/920/920623.png" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Liqour permits Licenses</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full  ml-5 mb-10">Apply</button>
          </div>
      
          <!-- Second Row -->
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/R.8156af828ba19717d7215d3c2c92f0a7?rik=t5UeVLCS5eM5lw&pid=ImgRaw&r=0" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Cess Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full  ml-5 mb-10">Apply</button>
          </div>
      
          <!-- Repeat the structure for the next three boxes in the second row -->
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/R.9f656a570083a42839360cd2a20d5552?rik=qW1Ezh1Jzo2qfA&pid=ImgRaw&r=0" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Market Rate Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full ml-5 mb-10">Apply</button>
          </div>
      
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.m32qhEo5OnAUsN5UsPfcCwHaHa?rs=1&pid=ImgDetMain" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Health Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full ml-5 mb-10">Apply</button>
          </div>
      
          <div class="shadow-lg rounded-md overflow-hidden">
            <img src="https://th.bing.com/th/id/R.8156af828ba19717d7215d3c2c92f0a7?rik=t5UeVLCS5eM5lw&pid=ImgRaw&r=0" alt="" class="w-40 h-40 ml-20">
            <h3 class="p-3 text-xl font-bold">Other Services</h3>
            <button class="bg-red-500 text-white mt-2 px-4 py-2 rounded-full ml-5 mb-10">Apply</button>
          </div>
        </div>
      </div>   
</div>



  