<!-- app/components/background-image.component.html -->

<div class="relative p-4 " 
style="background-image: 
url('https://th.bing.com/th/id/R.30a8ff42a4d6e9acde673b3b02c54060?rik=tTvpZYCdYLn14w&pid=ImgRaw&r=0'); 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
top: auto;
height: 600px;"
>
    <!-- Overlay for text -->
    <div class="absolute inset-0 bg-black opacity-50"></div>
  
    <!-- Text in the foreground -->
    <div class="absolute inset-0 flex flex-col mt-[225px] justify-start ml-10 text-white">
      <p class="mx-auto text-xl p-4  text-wrap justify-items-center text-start uppercase">Welcome to <strong>kajiado county</strong></p>
      <p class="mx-auto text-xl p-4  text-wrap justify-items-center text-start uppercase"><strong>government self-service portal</strong></p>
    </div>
    <div class="top-0 absolute inset-0 flex flex-auto items-center justify-start gap-2 text-white mt-[200px]">
      <a href="register" class="bg-blue-600 p-4 flex justify-center text-white rounded-full ml-10 w-[180px] font-bold uppercase">create account</a>
      <a href="login"class="text-center border border-white rounded-full px-4 py-4 p-4 w-[150px] uppercase font-bold">login</a>
    </div> 
  </div>
  