<div class="relative p-4" style="background-image: url('https://th.bing.com/th/id/R.dc4d38eb3e575eeeaf91644b34ec26ca?rik=0%2fpyIdPxCdipag&pid=ImgRaw&r=0'); background-size: cover; background-position: center; background-repeat: no-repeat; top: auto; height: 600px;">
    <!-- Overlay for text -->
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <!-- Text in the foreground -->
    <div class="absolute inset-0 flex flex-col mt-[225px] justify-start ml-10 text-white h-1/2">
        <p class="mx-auto text-xl p-4 text-wrap justify-items-center text-start">Welcome Victor! Access Narok</p>
        <p class="mx-auto text-xl p-4 text-wrap justify-items-center text-start">County Government Services today</p>
    </div>

    <!-- Transparent menu at the center bottom -->
    <div class="absolute bottom-0 left-10 right-10 flex flex-col items-center bg-black bg-opacity-50 p-4 rounded-tl-xl roudnded-tr-xl">
        <!-- Search bar -->
        <input type="text" placeholder="Type name of service you want to access" class="bg-white border-black text-black mt-4 p-2 mb-2 w-1/2 focus:outline-none rounded-full">

        <!-- Menu items with images and text -->
        <div class="flex flex-row mt-10 mb-10">
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.c93f4ed26c7c511c152c3cd5b38ac363?rik=frnAmpVSLKK2bA&pid=ImgRaw&r=0" alt="Parking Services" class="w-12 h-12 mb-2">
                <span class="text-white">Parking Services</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://cdn-icons-png.flaticon.com/512/1728/1728431.png" alt="Business Licensing" class="w-12 h-12 mb-2">
                <span class="text-white">Business Licensing</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.24a40d5e3de161932628d764e3d3a560?rik=vFjIDuJowWsLvQ&pid=ImgRaw&r=0&sres=1&sresct=1" alt="Land Rate Services" class="w-12 h-12 mb-2">
                <span class="text-white">Land Rate Services</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.7c1ba4c8b4709fcb011c7bdcc7b644f0?rik=5YRMYToA9CU%2bXQ&pid=ImgRaw&r=0" alt="Liqour permits Licenses" class="w-12 h-12 mb-2">
                <span class="text-white">Liqour permits Licenses</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.8156af828ba19717d7215d3c2c92f0a7?rik=t5UeVLCS5eM5lw&pid=ImgRaw&r=0" alt="Cess Services" class="w-12 h-12 mb-2">
                <span class="text-white">Cess Services</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.9f656a570083a42839360cd2a20d5552?rik=qW1Ezh1Jzo2qfA&pid=ImgRaw&r=0" alt="Market Rate Services" class="w-12 h-12 mb-2">
                <span class="text-white">Market Rate Services</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/OIP.m32qhEo5OnAUsN5UsPfcCwHaHa?rs=1&pid=ImgDetMain" alt="Health Services" class="w-12 h-12 mb-2">
                <span class="text-white">Health Services</span>
            </div>
            <div class="flex flex-col items-center mx-2">
                <img src="https://th.bing.com/th/id/R.8156af828ba19717d7215d3c2c92f0a7?rik=t5UeVLCS5eM5lw&pid=ImgRaw&r=0" alt="Other Services" class="w-12 h-12 mb-2">
                <span class="text-white">Other Services</span>
            </div>
        </div>
    </div>
</div>
